<html>
    <head>
        <title> <%= title %></title>
        <script src="https://kit.fontawesome.com/40e7be9db4.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1> 
            <i class = "fas fa-tasks"></i>
            Task.it
        </h1>
        <a href = "/task"> <i class = "fas fa-plus-circle fa-3x" title="Add Task"></i> </a>
        <% for (let i of tasks_list) { %>
            <div class="task-card">
                <p class="a-left"> <%= i.name %> </p>
                <% if(i.date != null) {%>
                <p class="a-center"> <%= moment(i.date).format('Do MMM') %> </p>
                <% } else {%>
                <p class="a-center"> </p>
                <% } %>
                <p class="a-right"> <%= i.category %> </p>
                <a href="/task/delete/?id=<%= i.id %>"><i class = "fas fa-trash-alt"></i> </a>
            </div>   
            <% } %>
    </body>
</html>